.not-found-wrapper {
  display: flex;
  margin: 120px auto 0 auto;
  max-width: 500px;
  justify-content: center;
  align-items: center;

}
.material-symbols-outlined {
font-size: 60px;
color: #3700B3;
}
.sorry-text {
  font-size: 30px;
  padding-left: 15px;
}
