<div class="login-wrapper">
  <h4 class="login-title">Login</h4>
  <form class="login-form" [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <div class="login-form__section">
      <label>login</label>
      <input class="login-form__input" type="text"  formControlName="name">
    </div>
    <div class="login-form__section">
      <label>password</label>
      <input class="login-form__input" type="password"  formControlName="password">
    </div>

  <div class="login-buttons">
    <button mat-button color="primary" routerLink="registration">Registration</button>
    <button
    mat-raised-button color="primary"
    type="submit"
    [disabled]="!cardForm.valid">
      Login
    </button>
  </div>
</form>
</div>
